<li class="stat">
    <p class="small">Messages</p>
    <h4>
      <a href="{{ url_for('users_show', user_id=g.user.id) }}">{{ g.user.messages | length }}</a>
    </h4>
  </li>
  <li class="stat">
    <p class="small">Following</p>
    <h4>
      <a href="{{ url_for('show_following', user_id=g.user.id) }}">{{ g.user.following | length }}</a>
    </h4>
  </li>
  <li class="stat">
    <p class="small">Followers</p>
    <h4>
      <a href="{{ url_for('show_followers', user_id=g.user.id) }}">{{ g.user.followers | length }}</a>
    </h4>
  </li>
  <li class="stat">
    <p class="small">Likes</p>
    <h4>
      <a href="{{ url_for('show_likes', user_id=g.user.id) }}">{{ g.user.likes | length }}</a>
    </h4>
  </li>